@charset "utf-8";

table {
    width: 50%;
    border-collapse: collapse;
}


th,td {
    /*border: 1px solid #999;*/
    text-align: center;
    padding: 20px 0;
}

.text-color{
    background-color: #393939;    
    padding: 10px 0;
    color: white;
}

.table-target:hover {
    background-color: #F0F0F0;
}

.title-color {
    color: white;
}
.text-right {
    text-align: right;
}