@charset "utf-8";

table {
    width: 70%;
    border-collapse: collapse;
}

th,td {
    /*border: 1px solid #999;*/
    text-align: center;
    padding: 20px 0;
}

.table-target:hover {
    background-color: #F0F0F0;
}

.title-color {
    color: white;
    text-shadow: 0px 2px 10px white;
}

.text-right {
    text-align: right;
}

#rcorners {
    border-radius: 15px;
    background: #393939;
    padding: 20px;
    /*
    width: 5%;
    height: 50%;
    color: white;
    */
}