@charset "utf-8";
/* CSS Document */



table {
    width: 50%;
    border-collapse: collapse;/*表示表格的两边框合并为一条*/
}


th,td {
    border: 1px solid #999;
    text-align: center;
    padding: 20px 0;
}

.aaa{
 background-color: aqua;
}

.table-target:hover {
    background-color: aqua;
}
.title-color {
    color: white;
}


.table-text {
  color: blue;
}

